body {
    background: url("../img/blue_bg.png") 50% 100px no-repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #2e424e;
    line-height: 1;
    width: unset;
}

.wrapper {
    padding: 0 15px;
}

.roboto-light {
    font-weight: 300;
}

.margin-t-10 {
    margin-top: 10px;
}

.roboto-medium {
    font-weight: 500;
}

.roboto-bold {
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
    font-weight: 300;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child a span {
    font-size: 22px;
}

.navbar-light .navbar-toggler {
    border: 0;
}

.navbar-light .navbar-toggler-icon {
    background: url("../img/toggler-icon.png") 0 0 no-repeat;
}

.navbar-brand img {
    width: 128px;
}

.navbar {
    padding: .5rem 0;
}

.no-margin-mobile {
    margin: 0;
}

.callus {
    background: url("../img/call.png") 20px 0 no-repeat;
    padding: 0.6rem 0 2.6rem 2rem;
    text-align: right;
}

.button {
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.primary-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbc7c5+0,fbc7c5+22,ee697c+100 */
    background: #fbc7c5;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc7c5', endColorstr='#ee697c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    border: 0;
    text-transform: uppercase;
}

.secondary-button {
    /* IE10+ */
    background-image: -ms-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Opera */
    background-image: -o-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #6DF0E3), color-stop(55, #88CBE9), color-stop(100, #A1A8F0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);
    border: 0;
}

.margin-l-15 {
    margin-left: 15px;
}


.header-link {
    color: #d02652;
    text-decoration: underline;
}

.header-link {
    float: right;
}

.btn-secondary {
    background: #302f2f;
}

.banner-header {
    padding: 1.2rem 0;
}

.banner-header h2 {
    font-size: 2rem;
}

.banner-header p {
    font-size: 1.8rem;
}

.callback-form-container {
    background: url("../img/shadow-1.png") 50% 0 no-repeat;
    padding: 30px 0 0;
}

.callback-form {
    background: url("../img/shadow-2.png") 50% 100% no-repeat;
    padding: 0 0 30px;
}

.title {
    font-size: 2rem;
    padding-bottom: 15px;
}

.form-title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
}

.form-subtitle {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}

.callback-form label {
    color: #06c9c3;
    font-size: 0.8rem;
}

.callback-form .form-group {
    margin-bottom: 1.3rem;
}

.callback-form .button {
    padding: 0.8rem 1rem;
}

.callback-form .form-control {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
}

.why-doc-container {
    /* IE10+ */
    background-image: -ms-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Opera */
    background-image: -o-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #6DF0E3), color-stop(55, #88CBE9), color-stop(100, #A1A8F0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);
    padding: 4rem 0;
    color: #fff;
}

.why-doc-container .title
}

#carouselExample1 .carousel-inner {
    height: 350px;
}

.feature-container {
    /*background: url(../img/why-dc-bg.png) 0 0 no-repeat;*/
    background-size: 100%;
    padding: 15px 0 35px;
}

.feature p {
    font-size: 1rem;
    margin: 35px 0 0;
    line-height: 1.4rem;
}

.feature p.sub-text {
    font-size: 0.9rem;
}

/*.feature:nth-child(1) img {
    margin-left: 50px;
}
.feature:nth-child(2) img {
    margin-left: 25px;
}
.feature:nth-child(4) img {
    margin-right: 20px;
}
.feature:nth-child(5) img {
    margin-right: 40px;
}*/
.quality-commitment-container {
    padding: 75px 0;
}

.img-div {
    height: 200px;
    padding-top: 40px;
    vertical-align: middle;
}

.tab-title {
    font-size: 1.2rem;
    color: #ee697c;
}

.tab-desc {
    font-weight: 300;
    line-height: 1.2rem;
}

.artilce-container {
    padding: 30px 0;
}

.artilce-container.services-container .title {
    margin: 0 auto 15px;
}

.artilce-container .title {
    margin: 0 auto 30px;
}

.article {
    background: #fff;
    cursor: pointer;
    transition: transform .2s;
    /* Animation */
    padding: 0;
    margin: 0 15px 20px;
}

.artilce-container.services-container .article {
    margin: 0 0 20px;
}


.article:hover {
    color: #fff;
    z-index: 9;
    transform: scale(1.1);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.article p.service-title {
    font-size: 1.2rem;
    color: #ee697c;
}

.article img {
    width: 100%;
}

.article p.article-title {
    color: #ee697c;
    font-size: 1rem;
    line-height: 1.7rem;
    text-transform: uppercase;
    min-height: 60px;
    margin-bottom: 0;
}

.article-description {
    padding: 15px 0;
}

.article:hover .article-description,
.article:hover p.article-title {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbc7c5+0,fbc7c5+22,ee697c+100 */
    background: #fbc7c5;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #fbc7c5 0%, #fbc7c5 22%, #ee697c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbc7c5', endColorstr='#ee697c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    padding: 15px;
}

.article:hover .service-title,
.article:hover .article-description .article-stats {
    color: #fff;
}


.article-description .article-author {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
}

.article-description .article-stats {
    font-size: 0.8rem;
    color: #999;
    line-height: 1.2rem;
    margin-bottom: 10px;
}

.current-testimonial {
    background: #fff;
    padding: 40px 15px;
    margin: 40px 15px 60px;
    box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
}

.user-name {
    font-size: 1.1rem;
    margin: 20px 0 5px;
    font-weight: 500;
}

.timespan {
    font-size: 0.9rem;
}

.testimonial-top {
    margin: 20px 0px 35px;
    border-bottom: 1px solid #e7e7e7;
    padding: 0 0 35px;
}

.testimonial-top p {
    color: #747474;
    line-height: 1.1rem;
}

.testimonial-bottom {
    margin: 0px 0px;
}

.feedabck-label {
    min-width: 120px;
    display: inline-block;
}

.margin-b-20 {
    margin-bottom: 20px;
}

#carouselExample1 .user-name {

    margin: 10px 0 0;
    font-size: 1rem;
    font-weight: 400;
    color: #747474;
    display: inline-block;
}

.sticker {
    position: absolute;
    width: 100px !important;
    left: -15px;
    top: -50px;
}

.current-testimonial-container {
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    bottom: 45px;
    position: absolute;
    left: 47%;
}


.sitemap-container {
    /* IE10+ */
    background-image: -ms-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Opera */
    background-image: -o-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #6DF0E3), color-stop(55, #88CBE9), color-stop(100, #A1A8F0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);
}

.footer-lady {
    margin-top: -79px;
    margin-bottom: -25px;
}

.border-top {
    border-top: 1px solid #edf3ef !important;
}

.pad-bot-25 {
    padding-bottom: 25px;
}

.social-media {
    padding-top: 25px;
}

.testimonial-container {
    padding: 2rem 0 3rem;
    /* IE10+ */
    background-image: -ms-linear-gradient(top, #FCE1E5 0%, #FDEEEF 55%, #fef3f3 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #FCE1E5 0%, #FDEEEF 55%, #fef3f3 100%);

    /* Opera */
    background-image: -o-linear-gradient(top, #FCE1E5 0%, #FDEEEF 55%, #fef3f3 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCE1E5), color-stop(55, #FDEEEF), color-stop(100, #fef3f3));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FCE1E5 0%, #FDEEEF 55%, #fef3f3 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom, #FCE1E5 0%, #FDEEEF 55%, #fef3f3 100%);
}

.sub-title {
    font-size: 1.3rem
}

.pink-text {
    color: #e56574;
}

.content-title {
    font-size: 22px;
}

.why-dp-tab .content-div p {
    font-size: 0.9rem;
    line-height: 1.3rem;
}

.pink-bg {
    background: #d02652;
    opacity: 0.8;
}

.black-bg {
    background: #000;
    opacity: 0.8;
}

.fa-quote-left {
    position: absolute;
    left: 15px;
}

.fa-quote-right {
    position: absolute;
    right: 20px;
    margin-top: -30px;
}

.newsletter-container {
    background: url("../img/newsletter-bg-mobile.png") 50% 100% no-repeat;
    min-height: 342px;
}

.Subscribe-div {
    margin-top: 46px;
}

.subscribe-container {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 15px 10px;
    background: #fff;
    position: relative;
}

.subscribe-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
}

.subscribe-container .form-control {
    border: 0;

}

.subscribe-container .primary-button {
    width: 100%;
}

.divider {
    height: 1px;
    width: 100%;
    background: #fff;
    padding-bottom: 15px;
    box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.6);
}

.border-right {
    border-right: 1px solid #edf3ef !important;
}

.footer-head {
    font-size: 16px;
    margin: 1.8rem 0;
}

.sitemap {
    color: #fff;

}

.sitemap ul,
.sitemap li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sitemap li a {
    font-size: 14px;
    margin: 10px 0;
    display: inline-block;
    color: #fff;
}

.address-div {
    font-size: 14px;
    width: 80%;
    line-height: 1.4rem;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
}

.footer {
    background: #333333;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.4rem;
}

.footer a {
    color: #fff;
    font-size: 13px;
    margin: 0;
    width: 48%;
    display: inline-block;
}

.footer a:last-child {
    text-align: right;
}

.mobile-head-button {
    margin-bottom: 10px;
}

.footer-logo {
    width: 30%;
}

#carouselExample .carousel-control-prev {
    width: auto;
    left: 40%;
    opacity: 1;
    align-items: flex-end;
    margin-bottom: 0px;
}

#carouselExample .carousel-control-prev .carousel-control-prev-icon,
#carouselExample1 .carousel-control-prev .carousel-control-prev-icon {
    background-image: url("../img/arrow-left-01.svg");
}

#carouselExample .carousel-control-next {
    width: auto;
    right: 40%;
    opacity: 1;
    align-items: flex-end;
    margin-bottom: 0px;
}

#carouselExample .carousel-control-next .carousel-control-next-icon,
#carouselExample1 .carousel-control-next .carousel-control-next-icon {
    background-image: url("../img/arrow-right-01.svg");
}

#carouselExample .carousel-inner {
    height: 365px;
}

.newsletter-container {
    background: url("../img/images/desktop/subscibe.png") 50% 0 no-repeat #f4fcfc;
    padding-top: 30px;
}

.inner-bg {
    background: url("../img/Services/Banner.png") 50% 0 no-repeat;
    height: 325px;
}

.inner-bg nav,
.inner-bg-about nav {
    background: #000;
    opacity: 0.7;
}

.inner-bg nav .breadcrumb,
.inner-bg-about nav .breadcrumb {
    background: #000;
    width: 1170px;
    margin: 0 auto;
    padding: 1.2rem 0rem;
    opacity: 0.8;
    font-size: 0.9rem;
}

.breadcrumb-item a {
    color: #03c2f2;
}

.breadcrumb-item.active a,
.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    color: #fff;
}

.services-tab-container {
    padding: 0 0 30px;
}

.service-tabs #nav-tab {
    margin: 30px 0;
    border: 0;
}

.service-tabs .nav-tabs .nav-link {
    color: #999;
    margin-right: 10px;
    font-size: 18px;
}

.service-tabs .nav-tabs .service-tabs .nav-link:focus,
.service-tabs .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.service-tabs .nav-tabs .nav-item.show .nav-link,
.service-tabs .nav-tabs .nav-link.active {
    color: #E56574;
    border: 1px solid transparent;
    border-bottom: 3px solid #E56574;
}

.service-tabs .tab-pane {
    font-size: 16px;
    line-height: 24px;
    color: #747474;
}

.benefit-container {
    padding: 30px 0;
    color: #fff;
    background-image: -ms-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Opera */
    background-image: -o-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #6DF0E3), color-stop(55, #88CBE9), color-stop(100, #A1A8F0));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top left, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);

    /* W3C Markup */
    background-image: linear-gradient(to bottom right, #6DF0E3 0%, #88CBE9 55%, #A1A8F0 100%);
}

.inner-title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 25px;
}

.benefit-container ul li,
.need-container ul li,
.help-container ul li {
    font-size: 18px;
    line-height: 24px;
    margin-left: -20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}

.need-container {
    background: url("../img/Services/When do you need.png") 50% 0 no-repeat;
    padding: 30px 0;
}

.label-text {
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    margin-top: 40px;
}

.help-container {
    margin: 30px 0;
}

.testimonial-carousel {
    -webkit-box-shadow: -1px 3px 33px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 33px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 33px -2px rgba(0, 0, 0, 0.4);
    padding: 75px 30px;
    background: -moz-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(250, 190, 190, 1)), color-stop(100%, rgba(239, 111, 129, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* ie10+ */
    background: linear-gradient(334deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FABEBE', endColorstr='#EF6F81', GradientType=0);
    /* ie6-9 */
}

.testimonial-carousel .carousel-inner {
    height: 350px;
}

.image-div {
    background: #fff;
    padding: 25px;
    width: 286px;
    margin-bottom: 15px;
    text-align: center;
    -webkit-box-shadow: 6px 7px 2px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 6px 7px 2px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 6px 7px 2px -2px rgba(0, 0, 0, 0.15);
}

.text-container {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    padding: 75px 70px;
}

.text-container .fa-quote-left {
    background: url("../img/SVG/open quote.svg") 0 0 no-repeat;
}

.relative-pos {
    position: relative;
}

.floating-form {
    position: absolute;
    right: 0;
    border: 0;
    margin-top: -40px;
    background: #fff;
    border-radius: 15px;
    padding: 0;
    -webkit-box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
}

.form-header {
    padding: 20px 15px;
    border: 1px solid transparent;
    border-radius: 15px 15px 0 0;
    color: #fff;
    background: -moz-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(250, 190, 190, 1)), color-stop(100%, rgba(239, 111, 129, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(116deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* ie10+ */
    background: linear-gradient(334deg, rgba(239, 111, 129, 1) 0%, rgba(250, 190, 190, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FABEBE', endColorstr='#EF6F81', GradientType=0);
    /* ie6-9 */
}

.form-field-container {
    padding: 20px;
}

.floating-form #nav-tab {
    border: 0;
}

.floating-form .nav-tabs .nav-link {
    color: #fff;
    font-size: 20px;
    background: transparent;
    border: 1px transparent;
    width: 50%;
}

.floating-form .nav-tabs .floating-form .nav-link:focus,
.floating-form .nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.floating-form .nav-tabs .nav-item.show .nav-link,
.floating-form .nav-tabs .nav-link.active {
    /*color: #E56574;
    border: 1px solid transparent;*/
    font-weight: 700;
    border-bottom: 2px solid #fff;
}

.floating-form .tab-pane {
    font-size: 16px;
    line-height: 24px;
    color: #747474;
}

.date-container {
    background: #f3fcfd;
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 0;
}

.date {
    background: transparent !important;
}

::-webkit-calendar-picker-indicator {
    background: url(../img/SVG/calendar.svg) 0 0 no-repeat;
    opacity: 1;
    font-size: 0;
    transition: all ease 400ms;
    transform: scale(1);
    margin-left: 5px;
    width: 25px;
    height: 25px;

    color: rgba(0, 0, 0, 0);
}

.margin-t-10 {
    margin-top: 10px;
}




#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
}

#drop-area.highlight {
    border-color: purple;
}

.my-form {
    margin-bottom: 10px;
}

#gallery {
    margin-top: 10px;
}

#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#fileElem {
    display: none;
}

.alice-div {
    margin: -20px -20px 0 -20px;
}

.alice-div img {
    width: 100%;
}

.ask-expert {
    width: 220px;
    margin: 0 auto;
    text-align: center;
    background: #fae860;
    color: #000;
    border-radius: 15px;
    margin-top: -40px;
    /* z-index: 99999999999; */
    position: relative;
    padding: 10px 0 1px;
}

.ask-expert p {
    color: #a99d41;
    margin-top: -7px;
}

#nav-enq h3 {
    font-size: 1.4rem;
    margin: 25px 0;
}


/* About us css */
.inner-bg-about {
    height: 276px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#80bacd+1,7e7a9d+100 */
    background: #80bacd;
    /* Old browsers */
    background: -moz-linear-gradient(left, #80bacd 1%, #7e7a9d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #80bacd 1%, #7e7a9d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #80bacd 1%, #7e7a9d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80bacd', endColorstr='#7e7a9d', GradientType=1);
    /* IE6-9 */
}

.about-top {
    padding: 40px 0 0 !important;
    color: #fff;
    line-height: 24px;
}

.doctorimage {
    width: 357px;
    color: #333;
    padding: 30px 30px 10px;
    font-size: 18px;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 23px -2px rgba(0, 0, 0, 0.4);
}

.doctorimage p {
    margin: 15px 0;
}

.doc-name {
    font-size: 50px;
    line-height: 50px;
}

.mbbs {
    font-size: 24px;
    line-height: 37px;
    margin-bottom: 10px;
    display: inline-block;
}

.aboutus-description {
    background: url("../img/About us/About-us.png") 50% 0 no-repeat;
    font-size: 16px;
    line-height: 24px;
    padding: 40px 0 0;
}

.aboutus-description p {
    margin-bottom: 33px;
}

.mission-vison-container {
    height: 302px;
    padding: 50px 0 30px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 23px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6e0e1+0,eb93a0+50,68e1e3+50,90a9ed+100 */
    background: #f6e0e1;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f6e0e1 0%, #eb93a0 50%, #68e1e3 50%, #90a9ed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f6e0e1 0%, #eb93a0 50%, #68e1e3 50%, #90a9ed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f6e0e1 0%, #eb93a0 50%, #68e1e3 50%, #90a9ed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6e0e1', endColorstr='#90a9ed', GradientType=1);
    /* IE6-9 */
}

.mission-vison-container h2 {
    font-size: 3rem;
    line-height: 4.3rem;
    margin-bottom: 20px;
}

.csr-div {
    padding: 50px 0;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background: rgb(250, 190, 190);
    background: -moz-linear-gradient(102deg, rgba(250, 190, 190, 0.15) 0%, rgba(239, 111, 129, 0.15) 100%);
    background: -webkit-linear-gradient(102deg, rgba(250, 190, 190, 0.15) 0%, rgba(239, 111, 129, 0.15) 100%);
    background: linear-gradient(102deg, rgba(250, 190, 190, 0.15) 0%, rgba(239, 111, 129, 0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fabebe", endColorstr="#ef6f81", GradientType=1);
}
.csr-div h2, .leadership-div h2 {
    font-size: 3rem;
    line-height: 4rem
}
.csr-div p {
    margin: 30px 163px 0px; 
}
.leadership-div {
    padding: 40px 0; 
    font-weight: 300;
    color: #747474;
    line-height: 22px;
}
.leadership-card {
    margin: 20px 0; 
    background: rgba(226, 246, 213, 0.53)
}                       
.info-div {
    padding: 7px 20px;
    font-size: 20px;
    line-height: 20px;
    width: 227px;
    background: rgba(51, 51, 51, 1);
    color: #fff;
}  
.leader-role    {
    font-size: 14px;
    line-height: 17px;
    color: #11F2EB;
}  
.leader-card-desc {
    padding: 45px 40px 20px 15px;
}  
.pink-bg {
    background: rgba(246, 238, 232, 0.53);
} 
.other-services  {
    border-radius: 15px;

    -webkit-box-shadow: -1px 3px 13px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 13px -2px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 13px -2px rgba(0, 0, 0, 0.4);
} 
.service-link {
    padding: 10px 15px;
} 
.service-link:nth-child(even) {
    background: rgba(117, 227, 228, 0.17);
} 
                                                               ;
@media (max-width: 374px) {
    .quick-connect-conainer .btn-secondary {
        margin: 10px 0;
    }

    /*.quick-connect-conainer {
        padding: 30% 25px 9%;
    }*/
}

@media (min-width: 768px) {
    body {
        background-size: 122%;
    }

    .navbar-brand img {
        width: 161px;
    }

    .tab-call-icon {
        margin-left: 260px;
    }

    .article {
        padding: 0 15px;
        margin: 0;
    }

    .header-text {
        float: right;
        font-size: 0.8rem;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid #333;
        margin-top: -8px;
        margin-right: 15px;
    }

    .header-link {
        margin-top: -10px;
    }

    .margin-t-30 {
        margin-top: 30px;

    }

    .no-margin-mobile {
        margin: 0 -15px;
    }

    .banner-div {
        margin-right: -15px;
    }

    .card .back {
        padding: 10px 0;
    }

    .card .back img {
        width: 8px;
    }

    .card .back p {
        margin: 0;
        line-height: 0.5rem;
    }

    .quick-connect-conainer {
        min-height: 0;
        width: 100%;
        margin-top: -60px;
    }

    .newsletter-container {
        background: url("../img/images/desktop/subscibe.png") 50% 0 no-repeat #f4fcfc;
        margin-top: 20px;
        padding-top: 70px;
    }

    .Subscribe-div {
        margin-top: 40px;
    }

    .subscribe-container {
        border: 1px solid #d4d4d4;
        border-radius: 10px;
        padding: 15px 10px;
        background: #fff;
        position: relative;
    }

    /*.subscribe-container:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        border-radius: 50%;
        z-index: -1;
        box-shadow: 0 8px 25px -10px rgba(0, 0, 0, 0.5);
    }*/

    .subscribe-container .form-control {
        border: 0;

    }

    .sitemap {
        padding: 40px 0 25px;
    }

    .footer-head {
        margin: 0rem 0 1rem;
    }

    .footer a {
        color: #fff;
        font-size: 13px;
        margin-left: 20px;
        width: auto;
    }

    .footer-logo {
        width: 150px;
    }

    .social-media img {
        width: 32px;
    }

    .banner-header h2 {
        font-size: 2.6rem;
    }

    .title {
        font-size: 2.4rem;
        padding-bottom: 15px;
    }

    .choose-option-container {
        padding: 5rem 0 6rem;
    }

    .option-cards {
        background: #f7f7f7;
        padding: 160px 10px 20px;
        height: 300px;
    }

    .choose-option-container .button {
        margin-bottom: 0px;
    }

    .feature-container {
        /*background: url(../img/why-dc-bg.png) 0 0 no-repeat;*/
        background-size: 100%;
        padding: 55px 0 35px;
    }

    .artilce-container {
        padding: 60px 0;
    }

    .artilce-container.services-container .title {
        margin: 0 auto 60px;
    }

    .artilce-container .title {
        margin: 0 auto 110px;
    }

    #carouselExample .carousel-control-prev {
        left: 45%;
        margin-bottom: -30px;
    }

    #carouselExample .carousel-control-next {
        right: 45%;
        margin-bottom: -30px;
    }

    .current-testimonial {
        background: #fff;
        padding: 40px;
        margin: 40px 0 60px;
        box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
        -webkit-box-shadow: 0px 2px 3px 0px rgba(119, 119, 119, 0.2);
    }

    .testimonial-top {
        margin: 20px 40px 35px;
        border-bottom: 1px solid #e7e7e7;
        padding: 0 0 35px;
    }

    .testimonial-bottom {
        margin: 0px 40px;
    }

    .arrow-down {
        left: 295px;
    }

    .testimonial-container {
        padding: 4rem 0 6rem;
    }

    .sticker {
        width: 148px !important;
        position: absolute;
        left: -90px;
        top: -90px;
    }
}

@media (min-width: 992px) {
    body {
        background-size: auto;
    }

    .wrapper {
        width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    .navbar-brand {
        padding-top: 0;
        margin-top: 0;
    }

    .navbar-brand img {
        width: 190px;
    }

    .navbar {
        padding: 0.9rem 0 0;
    }

    .header-link {
        float: right;
        margin-top: -10px;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0rem 1rem;
        border-right: 1px solid #747474;
    }

    .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
        border-right: 0;
        margin-top: 0px;
    }

    .navbar-expand-lg .navbar-nav .nav-item:last-child a span {
        font-size: 22px;
        display: inline-block;
        margin-left: 10px;
    }

    .logo {
        width: 208px;
    }

    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        font-weight: 500;
        color: #06c9c3;
    }

    #nav-bar {
        margin-right: 40px;
        margin-top: 75px;
    }

    .banner-header h2 {
        font-size: 2.6rem;
    }

    .title {
        font-size: 2.4rem;
        padding-bottom: 15px;
    }

    .choose-option-container {
        padding: 5rem 0 6rem;
    }

    .option-cards {
        background: #f7f7f7;
        padding: 160px 10px 20px;
        height: 300px;
    }

    .choose-option-container .button {
        margin-bottom: 0px;
    }

    .feature-container {
        background: url(../img/why-dc-bg.png) 0 0 no-repeat;
        background-size: 100%;
        padding: 35px 0 35px;
        width: 83.3%;
        margin: 0 auto;
    }

    .feature:nth-child(1) img {
        margin-left: 35px;
    }

    .feature:nth-child(2) img {
        margin-left: 25px;
    }

    .feature:nth-child(4) img {
        margin-right: 20px;
    }

    .feature:nth-child(5) img {
        margin-right: 40px;
    }
}




.slider-container {
    position: relative;
    height: 506px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
    width: 100%;
    overflow: hidden;
}

.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}

.slider-control.inactive:hover {
    cursor: auto;
}

.slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
}

.slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}

.slider-pagi {
    position: absolute;
    z-index: 3;
    left: 80%;
    bottom: 0rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
    display: none;
}

.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.3rem;
    background: #d02652;
    cursor: pointer;
}

.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background: #fff;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active-slide:before,
.slider-pagi__elem:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}

.slider.animating {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slider.animating .slide__bg {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    will-change: transform;
}

.slideX {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slideX.active-slide .slide__overlay,
.slideX.active-slide .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}

.slideX:nth-child(1) {
    left: 0;
}

.slideX:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("../img/banner-1.jpg");
}

.slideX:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
}

.slideX:nth-child(2) {
    left: 100%;
}

.slideX:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("../img/banner-1.jpg");
}

.slideX:nth-child(2) .slide__overlay-path {
    fill: #e1ccae;
}

.slideX:nth-child(3) {
    left: 200%;
}

.slideX:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("../img/banner-1.jpg");
}

.slideX:nth-child(3) .slide__overlay-path {
    fill: #adc5cd;
}

.slideX:nth-child(4) {
    left: 300%;
}

.slideX:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("../img/banner-1.jpg");
}

.slideX:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
}

.slideX:nth-child(5) {
    left: 400%;
}

.slideX:nth-child(5) .slide__bg {
    left: -200%;
    background-image: url("../img/banner-1.jpg");
}

.slideX:nth-child(5) .slide__overlay-path {
    fill: #cbc6c3;
}

.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s, -webkit-transform 0.5s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}

@media (max-width: 991px) {
    .slide__overlay {
        display: none;
    }
}

.slide__overlay path {
    opacity: 0.8;
}

.slide-bg {
    position: absolute;
    width: 90%;
    bottom: 1%;
    left: 0%;
    height: 160px;
    background: #ee697c;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.2);
}

.slide__text {
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 0%;
    color: #fff;
    height: 150px;
    /*background-color: rgba(0, 0, 0, 0.6);*/
    transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
}

@media (max-width: 991px) {
    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(150%);
        transform: translateY(150%);
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        padding: 0 1rem;
    }
}

.slide__text-heading {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    color: #fff;
    padding: 0 1.8rem;
}

@media (max-width: 991px) {
    .slide__text-heading {
        line-height: 2rem;
        font-size: 1.5rem;
        margin: 0;
        padding: 0 0.8rem;
    }
}

.slide__text-desc {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    display: none;
}

@media (max-width: 991px) {
    .slide__text-desc {
        display: none;
    }
}

.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0 1.8rem 1rem;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #fff !important;
    /* -webkit-perspective: 1000px;
          perspective: 1000px;*/
}

.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: rotateX(-85deg);
          transform: rotateX(-85deg);
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;*/
}

.slide__text-link:hover:before {
    /* -webkit-transform: rotateX(0);
          transform: rotateX(0);*/
}


@media (max-width: 600px) {
    .slider-container {
        height: 250px;
    }

    .slider-pagi {
        left: 42%;
        bottom: -0.5rem;
    }

    .slide__text-link {
        font-size: 1.1rem;
    }

    .slide__text-heading {
        font-size: 1.3rem;
    }

    .slide__text {
        height: 80px;
    }

    .slide-bg {
        height: 90px;
    }
}




#carouselExample {}

.panel-thumbnail {
    padding: 0;
}

.name {
    font-weight: 500;
    margin: 10px 0;
}

.url {
    font-weight: 300;
    margin: 0;
}

.user-details {
    font-size: 0.8rem;
}

.panel {
    margin: 0;
    padding: 5px;
}

.display-none {
    display: none;
}

.active-testimonial .panel {}

@media (min-width: 768px) {

    #carouselExample1 .carousel-control-prev {
        left: -150px;
    }

    #carouselExample1 .carousel-control-next {
        right: -150px;
    }

    #carouselExample .carousel-inner {
        height: 365px;
    }

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item,
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/* Bootstrap Lightbox using Modal */

#profile-grid {
    overflow: auto;
    white-space: normal;
}

#profile-grid .profile {
    padding-bottom: 40px;
}

#profile-grid .panel {
    padding: 0
}

#profile-grid .panel-body {
    padding: 15px
}

#profile-grid .profile-name {
    font-weight: bold;
}

#profile-grid .thumbnail {
    margin-bottom: 6px;
}

#profile-grid .panel-thumbnail {
    overflow: hidden;
}

#profile-grid .img-rounded {
    border-radius: 4px 4px 0 0;
}